<html ng-app="bookApp">
<head>
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"</script>

  <script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>

  <link href="main.css" rel="stylesheet" type="text/css" />
  <script src ="data.js"></script>
  <script src ="books_controller.js"></script>
</head>

<body>
   <div ng-controller="bookly.BooksController" class="container">
    <input type="text" ng-model="searchString">
    <select ng-model="type">
      <option value="title">Sort By Title</option>
      <option value="author">Sory By Author</option>
    </select>
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 book" ng-repeat="book in books |searchFor:searchString|orderBy:type">
          <div class="col-xs-offset-1 book-title">
            {{book.title}}
          </div>
          <div class="col-xs-offset-1 book-author">
            By: {{book.author}}
          </div>
          <div>
            <img class="book-image" ng-src="{{book.img}}"/>
          </div>

          <div class="cart-button">
            <span class="price">{{book.price | currency}}
             <button ng-click="addToCart(book)">Add</button> <!-- Add to cart button  -->
          </div>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 cart">
          <h3>your cart has {{itemCount}} items. </h3>
          <table class="carttable">
          <tr>
            <th width='40%'>Title</th><th width='30%'>Author</th><th width='20%'>Price</th><th width='10%'>Qty</th>
          </tr>
          <tr ng-repeat="item in cart track by $index">
            <td colspan=1>{{item.book.title}}</td>
            <td colspan=1>{{item.book.author}}</td>
            <td colspan=1>{{item.book.price}}</td>
            <td colspan=1>{{item.quantity}}</td>
          </tr>
          <tr class="cart-total">
            <td colspan=2 width='80%'>Total</td><td width='20%'>{{total | currency}}</td>
          </tr>
          </table>
          <div class="btn-group cart-button">
            <button ng-click="emptyCart()">Empty</button>
            <button onclick="alert('Dunno how to check out ...');">Check Out</button>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
